header {
    text-align: center;
    margin-top: 2vh;
}

main {
    margin: 2vh;
}

.speclist {
    margin-top: 1.5vh;
}

.navbar-nav .active>.nav-link {
    color: green;
    font-weight: bold;
}

.container {
    max-width: 1200px
}