{% extends "layout.html" %}

{% block title %}
    Portfolio Summary
{% endblock %}

{% block main %}

    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>Number of Shares</th>
                <th>Buying Price</th>
                <th>Current Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in portfolio %}
            <tr>
                <td>{{ item["name"] }}</td>
                <td>{{ item["symbol"] }}</td>
                <td>{{ item["no_of_shares"] }}</td>
                <td>{{ item["paid_price"] | usd }}</td>
                <td>{{ item["current_price"] | usd }}</td>
                <td>{{ item["total_cost"] | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Cash Balance: {{ cash | usd }}</p>
    <p>Total Portfolio Value: {{ total_value | usd}}</p>
</body>
</html>
{% endblock %}
