{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}


{% block main %}
<form action="/sell" method="post">
    <label  for="symbol">Sell Shares</label>
    <select name="symbol">
        <option disabled="" selected="">Symbol</option>
        {% for stock in portfolio %}
        <option>{{ stock["symbol"] }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="shares">Number of shares to sell:</label>
    <input  name="shares" type="number"">
    <button type="submit">Sell</button>
</form>
{% endblock %}
